/*Taewon Kang
SI339 Homework 2
*/
h1 {
    font-family: "Lucida Grande", sans-serif;
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px black;   
}

body {
    color: white;
    background: black;
}

p {
    font-size: 16px;
    padding-top: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

div {
    padding: 30px;
    min-width: 100px;
}

#red {
    background-color: red;
    text-align: right;
}

#blue {
    background-color: blue;
    text-align: left;
}

#yellow {
    background-color: yellow;
    text-align: right;
    color: black;
}

#yellow h2 {
    text-shadow: 4px 4px 2px grey;  
}

#green {
    background-color: green;
    text-align: left;
}

footer{
    text-align: center;
    padding-bottom: 15px;
}
